.container{
  
}
.card {
  background: transparent;
  border: none;
  color: rgb(255, 255, 255);
}

.card-img {
  margin-top: 30px;
  width: 290px;
  height: 400px;
}


.card-body{
  margin-left: 50px;
}

.rating {
  display: inline-block;
  font-size: 0;
  position: relative;
  cursor: pointer;
}

.rating input {
  position: absolute;
  left: -9999px;
}

.rating label {
  display: inline-block;
  font-size: 24px;
  color: #ccc;
  margin-right: 5px;
}

.rating label:before {
  content: '\2605'; /* Star icon */
}

.rating input:checked ~ label {
  color: #ffd700; /* Gold color */
}

#displayRating {
  font-size: 24px;
  margin-top: 10px;
}
.user-reviews {
  margin-top: 20px;
}

.user-review {
  margin-bottom: 10px;
}

.read-more {
  display: none;
  margin-top: 10px;
}

.show-more-reviews {
  display: none;
  margin-top: 10px;
}