.container{
  
}
.card {
  background: transparent;
  border: none;
  color: rgb(255, 255, 255);
}

.card-img {
  margin-top: 30px;
  width: 290px;
  height: 400px;
}


.card-body{
  margin-left: 50px;
}
.ratings{

      border: 1px solid rgba(0, 0, 0, 0.1);

}

.product-rating{

  font-size: 50px;
}

.stars i{

  font-size: 18px;
  color: #28a745;
}

.rating-text{
  margin-top: 10px;
}